body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

.container{
	margin: 0 5% 0 5%;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: inherit;
	color: inherit;
}

.blue{
	color: #0065fc;
}

#logo{
	width: 10rem;
}
nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
nav ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
nav ul li{
	padding: 2rem 1rem;
}

nav ul li:first-child{
	border-top: #0065fc 2px solid;
}

#description{
	font-size: 1.3rem;
	font-weight: normal;
	margin: 0;
}

#research{
	padding: 2rem 0;
	display: flex;
	flex-direction: row;
}
#research i{
	background-color: #f2f2f2;
	padding: 1rem;
	border: none;
	border-radius: 30% 0 0 30%;
}
#research input{
	padding: 1rem;
	border-style: solid none;
	border-color: #f2f2f2;
	border-width: 1px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
#research button{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	background-color: #0065fc;
	color: #ffffff;
	border-style: none;
	padding: 1rem;
	border-radius: 0 20% 20% 0;
}

#d_filtres{
	padding: 1rem 0;
}

#d_filtres button{
	border: solid 2px #e4e4e4;
	border-style: solid solid solid none;
	border-radius:50px;
	background-color: transparent;
	padding: 0px 1rem 0px 0px;
	margin-left: 1rem; 
}

#d_filtres i{
	margin-right: 0.8rem;
	padding: 0.8rem;
	font-size: 1rem;
	color:#0065fc;
	background-color: #deebff;
	border : none;
	border-radius: 50%;
	
}
#d_ville{
	border-radius: 25px;
}
#d_populaire{
	border-radius: 25px;
}
.cadre_hebergement{
	box-shadow: 1px 5px 10px grey;
}
.cadre_hebergement .stars{
	margin-bottom: 0.5rem;
}
.cadre_populaire{
	box-shadow: 1px 5px 10px grey;
}
.cadre_populaire .stars{
	margin-top: 3.4rem;
}


#i{
	color: #0065fc;
	border: solid 1px #e4e4e4;
	border-radius: 50%;
	padding: 5px 10px;
	margin-right: 1rem;
}

.blue_star{
	color: #0065fc;
}
.grey_star{
	color: #d9d9d9;
}

.cadre_activite{
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	box-shadow: 1px 5px 10px grey;
}
.cadre_activite img{
	object-fit: cover; 
	border-radius: 15px 15px 0 0;
}
.cadre_activite h4{
	margin-left: 1rem;
}

footer{
	background-color: #f2f2f2;
}
.footer_col{
	display: flex;
	flex-direction: column;
}

.footer_col ul li{
	margin-bottom: 1rem;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body {
        /*background-color: red;*/
    }
    nav ul li:nth-child(1){
    	order: 2;
    }
    nav ul li:nth-child(2){
    	order: 3;
    }
    nav ul li:nth-child(3){
    	order: 1;
    }

    #d_hebergement{
    	display: flex;
    	flex-direction: column;
    }
    #d_ville{
		order: 2;
	}
	#d_populaire{
		background-color: #f2f2f2;
		order: 1;
	}
	#flex_populaire{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
	}
	#flex_hebergement{
		display: flex;
		flex-direction: column;
	}
	.cadre_populaire{
		display: flex;
		padding: 5px;
		background-color: white;
		border-radius: 20px;
		margin-bottom: 1rem;
		width: 80%;
	}
	.cadre_populaire img{
		border-radius: 20px 0 0 20px;
		height: 10rem;
		width: 10rem;
		object-fit: cover; 
		margin-right: 1rem;
	}
	.cadre_hebergement{
		padding: 5px;
		display: flex;
		flex-direction: column;
		background-color: white;
		max-width: 100%;
		border-radius: 20px;
		margin-bottom: 1rem;
	}
	.cadre_hebergement img{
		border-radius: 20px 20px 0 0;
		height: 8rem;
		width: 25.5rem;
		object-fit: cover; 
	}
    .sm_footer_col{
    	display: flex;
    	flex-direction: column;
    }
}
          
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
	}
}
          
/* Media Query for Tablets Ipads portrait mode */
    @media (min-width: 768px) and (max-width: 1024px){
        body {
            background-color: blue;
        }
}
          
/* Media Query for Laptops and Desktops */
    @media (min-width: 1025px){
        #d_filtres{
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		#d_hebergement{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 2rem;
			margin-left: 5%;
			margin-right: 5%;
		}
		#d_ville{
			order: 1;
			width: 55%;
			padding: 2rem;
			background-color: #f2f2f2;
		}
		#d_populaire{
			order: 2;
			width: 35%;
			padding: 0 2rem;
			background-color: #f2f2f2;
		}
		#flex_hebergement{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

		}
		#flex_hebergement h3{
			margin:1rem 0 0 0;
		}
		.cadre_hebergement{
			margin: 1rem 0;
			padding: 5px;
			display: flex;
			flex-direction: column;
			background-color: white;
			max-width: 30%;
			border-radius: 20px;
			margin-bottom: 1rem;
		}
		.cadre_hebergement img{
			border-radius: 20px 20px 0 0;
			height: 8rem;
			width: 16rem;
			object-fit: cover; 
		}
		.hebergement_description{
			margin-left: 1rem;
		}
		.populaire_titre{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.populaire_titre i{
			font-size: 2rem;
		}
		#flex_populaire{
			/*margin: 1rem 0;*/
			display: flex;
			flex-direction: column;
			/*justify-content: space-between;*/
		}
		.cadre_populaire{
			display: flex;
			padding: 5px;
			background-color: white;
			border-radius: 20px;
			margin-bottom: 3em;
		}
		.cadre_populaire img{
			border-radius: 20px 0 0 20px;
			height: 10rem;
			width: 10rem;
			object-fit: cover; 
			margin-right: 1rem;
		}
		#d_activites{
			margin: 2.5% 5%;

		}
		#activites{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		#activites > .cadre_activite img{
			width: 25rem;
			height: 30rem;
		}
		
		.lg_activites_col{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.lg_activites_col .cadre_activite:first-child img{
			width: 25rem;
			height: 14rem;
		}

		.lg_activites_col .cadre_activite:last-child img{
			width: 25rem;
			height: 8rem;
		}
		
		.lg_footer_row{
			display: flex;
			flex-direction: row;
		}
		.footer_col{
			width: 33%;
		}

}